<ng-container>
    <div class="row d-flex justify-content-center align-items-center" style="min-height: 60vh;">
        <div class="col-md-3 col-sm-12 "> 
            <div class="card">
                <div class="card-body">
                    <div class="title mt-3" style="text-align: center;">
                        <fa-icon [icon]="faUserCircle" [styles]="{'min-height': '10vh'}"></fa-icon>
                        <p class="card-title mt-3">Log in to your account</p>
                    </div>
                    <form [formGroup]="authForm" class="form">
                        <div class="form-group ps-3 pe-3 p-2">
                            <input 
                            type="email" 
                            class="form-control mt-2" 
                            id="emailInput" 
                            aria-describedby="emailHelp" 
                            placeholder="Enter email"
                            formControlName="email"
                            [class.is-invalid]="_fControls['email'].invalid && _fControls['email'].touched"
                            required
                        >
                            <div *ngIf="_fControls['email'].invalid && _fControls['email'].touched" class="invalid-feedback">
                                <div *ngIf="_fControls['email'].hasError('required')"> 
                                    Email is required!
                                </div>
                                <div *ngIf="_fControls['email'].hasError('email')"> 
                                    Please enter a valid email.
                                </div>
                            </div>
                        </div>
                        <div class="form-group ps-3 pe-3 p-2">
                            <input 
                            [type]="show ? 'text' : 'password'" 
                            class="form-control mt-2" 
                            id="passworsInput" 
                            placeholder="Password"
                            formControlName="password"
                            [class.is-invalid]="_fControls['password'].invalid && _fControls['password'].touched"
                            required
                            >
                            <div *ngIf="_fControls['password'].invalid && _fControls['password'].touched" class="invalid-feedback">
                                <div *ngIf="_fControls['password'].hasError('required')"> 
                                    Password is required!
                                </div>
                                <div *ngIf="_fControls['password'].hasError('minlength')"> 
                                    Password should be longer than 8.
                                </div>
                                <div *ngIf="_fControls['password'].hasError('maxlength')"> 
                                    Password should not be longer than 16.
                                </div>
                            </div>
                        </div>
                        <div class="form-group ps-3 pe-3">
                            <a href="#" class="forget float-end">forgot password?</a>
                        </div>
                        <div class="form-group ps-3 pe-3  ms-2" (click)="onChangeShow()">
                            <fa-icon *ngIf="show" [icon]="faEye"></fa-icon>
                            <fa-icon *ngIf="!show" [icon]="faEyeSlash"></fa-icon>
                        </div>
                        <div class="form-group ps-3 pe-3 mt-3" style="text-align: center;">
                            <button type="submit" class="btn btn-primary login" (click)="submit()"><fa-icon [icon]="faSignIn"></fa-icon><span class="ms-2" style="font-size: 18px;">Sign in</span></button>
                        </div>
                    </form>     
                </div>
                <div class="ps-5 pe-5 mt-3 mb-4" style="text-align: center;">
                    <p class="sub-row">OR</p>
                    <div>
                        <span>Don't have an account?</span>
                    </div>
                    <div>
                        <a [routerLink]="['/register']" class="btn sign-up">Create account</a> <!--[queryParams]="{debug: true}"-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>


<!-- <button (click)="open()">open</button>
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title">Movie</h4>
        <button type="button" class="btn-close" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <h2>hello</h2>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" >Close</button>
    </div>
</ng-template> -->

  