.navbar {
    // background: linear-gradient(135deg,#0143a3,#0273d4);
    background-color: #18354c;
    min-height: 70px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 10px -5px;
}
.navbar-brand {
    font-style: initial;
}
.logout {
    text-decoration: none;
    color: #fff;
    background-color: none;
}
.logout:hover {
    color: rgb(255, 192, 56);
}